body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url('./assets/layout_facebook_150421_1-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#currency-list {
  text-align: center;
  list-style-type: none;
  background: white;
  padding: 0;
  width: 300px;
}

li {
  padding: 10px 0;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li:nth-child(even) {
  background: yellow;
}

.header {
  width: 100%;
  text-align: center;
}

.main-section {
  padding: 20px;
  display: flex;
  flex-direction: column;
  font-weight: 800;
  text-align: center;
}

.main-section label {
  background-color: #65d9fe;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-section input {
  height: 30px;
  border: none;
  border-radius: 3px;
  margin: 10px 0;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-section button {
  border: none;
  border-radius: 3px;
  height: 30px;
  background-color: rgb(255, 255, 15);
  font-weight: 800;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}